body {
  min-height: 100vh;
  display: grid;
  place-content: center;
  background-color: hsl(217, 54%, 11%);
}
main{
  background-color: hsl(216, 50%, 16%);
  height: 38rem;
  width: 22.5rem;
  display: grid;
  font-family: Outfit;
  border-radius: 15px;
}
.illustration-hero{
  width: 20rem;
  height: 20rem;
  margin: 20px;
  margin-bottom: 0px;
  border-radius: 10px;
}
.hero{
  width: 20rem;
  border-radius: 10px;
}
h1{
  color: white;
  margin-left: 20px;
  margin-top: 0px;
  margin: 0px 0px 0px 20px;
  font-size: 1.5rem;
}
p{
  margin: 0px;
}
p,.creator{
  color: hsl(215, 51%, 70%);
  margin-left: 20px;
  font-size: 18px;
  font-weight: 300;
}
.nft{
  color: cyan;
  margin-left: 20px;
  font-weight: 400;
}
.time-left{
  color: hsl(215, 51%, 70%);
  margin-right: 20px;
  float: right;
}
.creator{
  padding-top: 10px;
  border-top-style: solid;
  border-width: 1px;
  border-color: hsl(215, 32%, 27%);
  width: 320px;
}
.ethereum-icon,.icon-clock{
  margin-right: 6px;
  margin-bottom: -3px;
}
.image-avatar{
  width: 40px;
  margin-bottom: -10px;
  margin-right: 10px;
  border: solid;
  border-color: white;
  border-radius: 25px;
  border-width: 1px;
}
.creator-name{
  color: white;
}
.attribution {
  font-size: 11px; text-align: center; 
}
.attribution a {
  color: hsl(228, 45%, 44%); 
}
